<!DOCTYPE html>
<html>
    <head>
        <title>Client Management Tool</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="clientManagementTool" ng-controller="ClientManagementTool as vm">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Client Management Tool</a>
                </div>
            </div>
        </nav>

        <div class="container">
	        <div class="col-sm-8">
	            <div class="well timeentry" ng-repeat="client in vm.clientEntries">
	                <div class="row">
	                    <div class="col-sm-8">
	                        <h4><i class="glyphicon glyphicon-user"></i> 
	                        #{{client.clientid}} - {{client.clientname}}</h4><!-- 
	                        <p><i class="glyphicon glyphicon-pencil"></i> {{client.dateadded}}</p>      -->             
	                    </div>
	                    <div class="col-sm-4 time-numbers">
                        <h4><i class="glyphicon glyphicon-calendar"></i> 
                        {{client.dateadded | date:'mediumDate'}}</h4>
                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </body>

    <!-- Application Dependencies -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>

    <!-- Application Scripts -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/ClientManagementTool.js"></script>
    <script type="text/javascript" src="scripts/services/client.js"></script>
</html>

<!-- <html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
 	<p>Name : <input type="text" ng-model="name"></p>
 	<h1>Hello {{name}}</h1>
</div>

</body>
</html> -->