<!DOCTYPE html>
<html>
    <head>
        <title>Client Management Tool</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="clientManagementTool" ng-controller="ClientManagementTool as vm">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Client Management Tool</a>
                </div>
            </div>
            <form class="navbar-form">
                    <input class="form-control" ng-model="vm.client_id" placeholder="Enter an ID">
                    </input>
                     <input class="form-control" ng-model="vm.client_name" placeholder="Enter a client">
                    </input>
                    <select class="form-control"  ng-model="vm.client_stat">
						<option ng-repeat="statStr in vm.stat" value="{{statStr.statString}}">{{statStr.statString}}</option>
					</select>
                    <button class="btn btn-primary" ng-click="vm.addNewClient()">Add</button>
                </form>
        </nav>

        <div class="container">
	        <div class="col-sm-8">
	            <div class="well">	                
               		 <table class="table table-bordered table-hover">
				    <tr>
				      <th>
				        <button ng-click="vm.sortBy('clientid')">ID</button>
				        <span class="sortorder" ng-show="propertyName === 'clientid'" ng-class="{reverse: reverse}"></span>
				      </th>
				      <th>
				        <button ng-click="vm.sortBy('clientname')">Name</button>
				        <span class="sortorder" ng-show="propertyName === 'clientname'" ng-class="{reverse: reverse}"></span>
				      </th>
				      <th>
				        <button ng-click="vm.sortBy('dateadded')">Date Added</button>
				        <span class="sortorder" ng-show="propertyName === 'dateadded'" ng-class="{reverse: reverse}"></span>
				      </th>
				      <th>
				        <button ng-click="vm.sortBy('statusStr')">Status</button>
				        <span class="sortorder" ng-show="propertyName === 'statusStr'" ng-class="{reverse: reverse}"></span>
				      </th>
				      <th>&nbsp;
				      </th>
				    </tr>
				    <tr ng-repeat="client in vm.clientEntries | orderBy:vm.propertyName:vm.reverse">
				      <td>{{client.clientid}}</td>
				      <td>{{client.clientname}}</td>
				      <td>{{client.dateadded | date:'mediumDate'}}</td>
				      <td>{{client.statusStr}}</td>
				      <td><span class="glyphicon glyphicon-trash" ng-click="vm.deleteClient(client.clientid)"></span>
				      </td>
				    </tr>
				  </table>
	            </div>       
            </div>    
	        </div>
	    </div>
    </body>

    <!-- Application Dependencies -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>

    <!-- Application Scripts -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/ClientManagementTool.js"></script>
    <script type="text/javascript" src="scripts/services/client.js"></script>
</html>

<!-- <html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
 	<p>Name : <input type="text" ng-model="name"></p>
 	<h1>Hello {{name}}</h1>
</div>

</body>
</html> -->